.description {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px, 0, 0, 0;
}

.description_desc {
  width: 100%;
}

.description_header {
  margin: 10px, 0, 5px, 0;
}

.description_brand {
  padding: 10px;
}

.description_span {
  color: gray;
  margin: 5px, 0, 5px, 0;
}

.description_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}
