.header_log {
  /* width: 50vw;
  height: 50vh; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* border: thin solid red; */
}

.header_count {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  margin: 0, 0, 100px, 0;
  gap: 10px;
}
.header_pspan {
  color: dodgerblue;
}
.header_pspan:hover {
  color: hsl(0, 100%, 50%, 60%);
}

.header_form {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  padding: 20px;
  gap: 10px;
}

.header_logout {
  margin: 10px;
}
